<%= link_to  "Logout", destroy_user_session_path(), method: :delete %>


<div class="clearfix"></div><br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Onay Bekleyen Kullanıcılar</h5>
                <table class="table table-hover table-bordered">
                    <thead>
                        <th>Adı Soyadı</th>
                        <th>Telefon</th>
                        <th>İş</th>
                        <th style="text-align:center">Cinsiyet</th>
                        <th style="text-align:center">Yaş</th>
                        <th style="width: 222px"></th>
                    </thead>
                    <% @users.each do |user| %>
                        <tr style="padding: 0px;">
                            <td><%= user.type.name %> <%= user.type.surname %></td>
                            <td><%= user.type.phone %></td>
                            <td><%= user.type.job %></td>
                            <td style="text-align:center"><%= user.type.gender %></td>
                            <td style="text-align:center"><%= user.type.age %></td>
                            <td>
                                <%= link_to  "Detay", partner_person_path(user), class: 'btn btn-info btn-sm' %>
                                <%= link_to  "Onayla", partner_person_confirm_path(user), class: 'btn btn-success btn-sm' %>
                                <%= link_to  "Reddet", partner_person_reject_path(user), class: 'btn btn-danger btn-sm' %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>