<h2>Sign up</h2>

<%= form_for @person do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, Person.genders.keys %>
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= f.select :job, Person.jobs.keys %>
  </div>

  <%= f.fields_for :user do |u| %>
    <div class="field">
      <%= u.label :email %><br />
      <%= u.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= u.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= u.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= u.label :password_confirmation %><br />
      <%= u.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
