<h2>Sign up</h2>

<%= simple_form_for @person do |f| %>
  <%= f.input :name %>
  <%= f.input :surname %>
  <%= f.input :phone %>
  <%= f.input :age, collection: 18..200 %>
  <%= f.input :gender, collection: Person.genders.keys, as: :radio_buttons %>
  <%= f.input :job, collection: Person.jobs.keys, as: :radio_buttons %>

  <%= simple_fields_for :reference do |r| %>
    <%= r.input :text %>
    <%= r.input :code, required: false %>
  <% end %>

  <%= f.simple_fields_for :user do |u| %>
    <%= u.input :email, autofocus: true, autocomplete: "email" %>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= u.input :password, autocomplete: "off" %>

    <%= u.input :password_confirmation, autocomplete: "off" %>
  <% end %>

  <%= f.button :submit %>
<% end %>
